body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

canvas {
    border: 2px solid black;
    background: white;
    margin: 10px;
}

button {
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-size: 18px;
}
